<div style="display: flex; flex-wrap: wrap; ">
    <div style=" margin-top: 10px; margin-bottom: 10px;">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Know how it spreads</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
          <!-- <p>
            <{{p}}>
          </p> -->
          <li>There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19).</li>
          <li>The best way to prevent illness is to avoid being exposed to this virus.
            <ul>
              <li>Between people who are in close contact with one another (within about 6 feet).</li>
              <li>Through respiratory droplets produced when an infected person coughs, sneezes or talks.</li>
              <li>These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled into the lungs.</li>
              <li>Some recent studies have suggested that COVID-19 may be spread by people who are not showing symptoms.</li>
            </ul>
          </li>
        </mat-card-content>        
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Wash your hands often</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
          <!-- <p>
            <{{p}}>
          </p> -->
          <li>Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.</li>
          <li>If soap and water are not readily available, use a hand sanitizer that contains at least 60% alcohol. Cover all surfaces of your hands and rub them together until they feel dry.</li>
          <li>Avoid touching your eyes, nose, and mouth with unwashed hands.</li>
        </mat-card-content>        
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Avoid close contact</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
          <!-- <p>
            <{{p}}>
          </p> -->
          <li>Avoid close contact with people who are sick</li>
          <li>Put distance between yourself and other people.
            <ul>
              <li>Remember that some people without symptoms may be able to spread virus.</li>
              <li>Keeping distance from others is especially important for people who are at higher risk of getting very sick.</li>
            </ul>
          </li>
        </mat-card-content>        
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cover your mouth and nose with a cloth face cover when around others</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
          <!-- <p>
            <{{p}}>
          </p> -->
          <li>You could spread COVID-19 to others even if you do not feel sick.</li>
          <li>Everyone should wear a cloth face cover when they have to go out in public, for example to the grocery store or to pick up other necessities.
            <ul>
              <li>Cloth face coverings should not be placed on young children under age 2, anyone who has trouble breathing, or is unconscious, incapacitated or otherwise unable to remove the mask without assistance.</li>
            </ul></li>
          <li>The cloth face cover is meant to protect other people in case you are infected.</li>
          <li>Do NOT use a facemask meant for a healthcare worker.</li>
          <li>Continue to keep about 6 feet between yourself and others. The cloth face cover is not a substitute for social distancing.</li>
        </mat-card-content>        
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cover coughs and sneezes</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
          <!-- <p>
            <{{p}}>
          </p> -->
          <li>If you are in a private setting and do not have on your cloth face covering, remember to always cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow.</li>
          <li>Throw used tissues in the trash.</li>
          <li>Immediately wash your hands with soap and water for at least 20 seconds. If soap and water are not readily available, clean your hands with a hand sanitizer that contains at least 60% alcohol.</li>
        </mat-card-content>        
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Clean and disinfect</mat-card-title>
        </mat-card-header>        
        <mat-card-content>
          <!-- <p>
            <{{p}}>
          </p> -->
          <li>Clean AND disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</li>
          <li>If surfaces are dirty, clean them. Use detergent or soap and water prior to disinfection.</li>
          <li>Then, use a household disinfectant. Most common EPA-registered household disinfectantsexternal icon will work.</li>
        </mat-card-content>        
      </mat-card>
      </div>
      </div>